extends layout

block content

    if(employee)
        .titles
            if(employee.PictureURL)
                img.pic(src='#{employee.PictureURL}' onerror='javascript:this.src="images/default.png"')
            h1.left
                a(href='#{location}/employee?EmployeeID=#{employee.EmployeeID}') #{employee.FirstName} #{employee.LastName}
            h3.left Office: #{employee.Office} #{employee.Building}
            h3.left Category: #{employee.Category}
            h3.left Rotation Group: #{employee.RotationGroup}
            #dropDown.byu-button.royal(style='padding: 0;')
                div(class='dropdown')
                    div(class='dropbtn') Add Item
                    div(class='dropdown-content')
                        div(onclick='newComputer(#{employee.EmployeeID})') New Computer
                        div(onclick='newMonitor(#{employee.EmployeeID})') New Monitor
                        div(href='/computerTable') New Printer
                        div(onclick='newPeripheral(#{employee.EmployeeID})') New Peripheral
            .mobileButtons
                div.mobileButton.byu-button.royal(onclick='newComputer(#{employee.EmployeeID})') New Computer
                div.mobileButton.byu-button.royal(onclick='newMonitor(#{employee.EmployeeID})') New Monitor
                div.mobileButton.byu-button.royal(href='/computerTable') New Printer
                div.mobileButton.byu-button.royal(onclick='newPeripheral(#{employee.EmployeeID})') New Peripheral
            if(employee.EmployeeID === 300)
                br
                br
                if(surplussing === 'false')
                    a.byu-button.royal(href='#{location}/card?EmployeeID=300&surplussing=true')= 'Show only surplussing'
                else
                    a.byu-button.royal(href='#{location}/card?EmployeeID=300&surplussing=false')= 'Show Everything'

            br
        br
    else
        .titles
            h4.left Employees:
        table.table
            tr#myHeader
                th
                    a(href='#{location}/employeesTable?sortby=employeeId')
                        div='Employee ID'
                th
                    a(href='#{location}/employeesTable?sortby=firstName')
                        div= "First Name"
                th
                    a(href='#{location}/employeesTable?sortby=lastName')
                        div= "Last Name"
                th= "Category"
                th= "Office Location"
                th= "Building"
                th= "Username"
                th= "Email"
                th
                    a(href='#{location}/employeesTable?sortby=rotationGroup')
                        div= "Roation Group"
                th
                    a(href='#{location}/employeesTable?sortby=dateSwitched')
                        div= "Date Switched"
                th= "Notes"
            each employee in employees
                tr
                    td
                        a(href='#{location}/card?EmployeeID=' + employee.EmployeeID)= employee.EmployeeID
                    td= employee.FirstName
                    td= employee.LastName
                    td= employee.Category
                    td= employee.Office
                    td= employee.Building
                    td= employee.UserName
                    td= employee.Email
                    td
                        a(href='#{location}/employeesTable?where=rotationGroup=#{employee.RotationGroup}')
                            div= employee.RotationGroup
                    td
                        a(href='#{location}/employeesTable?where=dateSwitched=#{employee.DateSwitched}')
                            div= employee.DateSwitched
                    td= employee.Notes
    if(Object.keys(computers).length)
        .titles
            h4 Computers:
            if(!employee)
                h3.left= Object.keys(computers).length
        table.table
            tr
                th
                    | ICN
                th
                    | Make
                th
                    | Model
                th
                    | Type
                th
                    | Date Acquired
                th
                    | Inventory
                if(employee && employee.EmployeeID === 300)
                    th= "Surplus"
            each computer in computers
                tr
                    td
                        a(href='#{location}/computer?ICN=' + computer.ICN)= computer.ICN
                    td= computer.Make
                    td= computer.Model
                    td= computer.Type
                    td= computer.DateAcquired
                    td
                        .byu-button.navy(onclick='inventory(#{computer.ICN}, this);')= computer['MAX(Inventory.CurrentDate)']
                    if(employee && employee.EmployeeID === 300)
                        if(computer.Surplussing === 0)
                            td
                                button.byu-button.navy(onclick='surplus(#{computer.ICN}, "Computer")' id='surplusButton#{computer.ICN}') Surplus
                        else
                            td
                                button.byu-button.whitenavy(onclick='undo(#{computer.ICN}, "Computer")' id='surplusButton#{computer.ICN}') Undo

    if(Object.keys(monitors).length)
        .titles
            h4 Monitors:
            if(!employee)
                h3.left= Object.keys(monitors).length
        table.table
            tr
                th
                    | ICN
                th
                    | Make
                th
                    | Model
                th
                    | Date Acquired
                th
                    | Inventory
                if(employee && employee.EmployeeID === 300)
                    th= "Surplus"
            each monitor in monitors
                tr
                    td
                        a(href="#{location}/monitor?ICN=" + monitor.ICN)= monitor.ICN
                    td= monitor.Make
                    td= monitor.Model
                    td= monitor.DateAcquired
                    td
                        .byu-button.navy(onclick='inventory(#{monitor.ICN}, this);')= monitor['MAX(Inventory.CurrentDate)']
                    if(employee && employee.EmployeeID === 300)
                        if(monitor.Surplussing === 0)
                            td
                                button.byu-button.navy(onclick='surplus(#{monitor.ICN}, Monitor)' id='surplusButton#{monitor.ICN}') Surplus
                        else
                            td
                                button.byu-button.whitenavy(onclick='undo(#{monitor.ICN}, Monitor)' id='surplusButton#{monitor.ICN}') Undo
    if(Object.keys(printers).length)
        .titles
            h4 Printers:
            if(!employee)
                h3.left= Object.keys(printers).length
        table.table
            tr
                th
                    | ICN
                th
                    | Make
                th
                    | Model
                th
                    | Date Acquired
                th
                    | Inventory
            each printer in printers
                tr
                    td
                        a(href="#{location}/printer?ICN=" + printer.ICN)= printer.ICN
                    td= printer.Make
                    td= printer.Model
                    td= printer.DateAcquired
                    td
                        .byu-button.navy(onclick='inventory(#{printer.ICN}, this);')= printer['MAX(Inventory.CurrentDate)']
    if(Object.keys(peripherals).length)
        .titles
            h4 Peripherals:
            if(!employee)
                h3.left= Object.keys(peripherals).length
        table.table
            tr
                th
                    | ICN
                th
                    | Item
                th
                    | Make
                th
                    | Model
                th
                    | Date Acquired
                th
                    | Inventory
                if(employee && employee.EmployeeID === 300)
                    th= "Surplus"
            each peripheral in peripherals
                tr
                    td
                        a(href="#{location}/peripheral?ICN=" + peripheral.ICN)= peripheral.ICN
                    td= peripheral.Item
                    td= peripheral.Make
                    td= peripheral.Model
                    td= peripheral.DateAcquired
                    td
                        .byu-button.navy(onclick='inventory(#{peripheral.ICN}, this);')= peripheral['MAX(Inventory.CurrentDate)']
                    if(employee && employee.EmployeeID === 300)
                        if(peripheral.Surplussing === 0)
                            td
                                button.byu-button.navy(onclick='surplus(#{peripheral.ICN}, Peripheral)' id='surplusButton#{peripheral.ICN}') Surplus
                        else
                            td
                                button.byu-button.whitenavy(onclick='undo(#{peripheral.ICN}, Peripheral)' id='surplusButton#{peripheral.ICN}') Undo
    br
    script.
        function surplus(ICN, table) {
            $.ajax({
                type: "GET",
                url: "#{location}/finnaSurplus?table="+ table + "&ICN=" + ICN,
                data: {format: 'html'}
            }).done(function (data) {
                $("#surplusButton" + ICN).html('Undo');
                $("#surplusButton" + ICN).attr("onclick", "undo(" + ICN + ", '" + table + "')");
                $("#surplusButton" + ICN).removeClass("navy");
                $("#surplusButton" + ICN).addClass("whitenavy");
            });
        }

        function undo(ICN, table) {
            $.ajax({
                type: "GET",
                url: "#{location}/undoFinnaSurplus?table=" + table + "&ICN=" + ICN,
                data: {format: 'html'}
            }).done(function (data) {
                $("#surplusButton" + ICN).html('Surplus');
                $("#surplusButton" + ICN).attr("onclick", "surplus(" + ICN + ", '" + table + "')");
                $("#surplusButton" + ICN).removeClass("whitenavy");
                $("#surplusButton" + ICN).addClass("navy");
            });
        }

        function inventory(ICN, id){
            $.ajax({
                type: "GET",
                url: "#{location}/updateInventory?ICN=" + ICN,
                data: {format: 'html'}
            }).done(function (data) {
                console.log(id);
                id.innerHTML = data;
            });
        }
        function getComputerInfo(ICN, EmployeeID) {
            window.location.href = '#{location}/computer?EmployeeID=' + EmployeeID + '&ICN=' + ICN;
            console.log(ICN);
            $.ajax({
                type: "GET",
                url: "#{location}/computer?ICN=" + ICN + '&EmployeeID=' + EmployeeID,
                data: {format: 'html'}
            }).done(function (data) {
                $("#computerInfo").html(data);
                $("#computerInfo").css('display', 'block');
                $("#cardInfo").css('display', 'none');


            });
        }
        function getMonitorInfo(ICN, EmployeeID) {
            window.location.href = "#{location}/monitor?ICN=" + ICN + '&EmployeeID=' + EmployeeID;
            console.log(ICN);
            $.ajax({
                type: "GET",
                url: "#{location}/monitor?ICN=" + ICN + '&EmployeeID=' + EmployeeID,
                data: {format: 'html'}
            }).done(function (data) {
                $("#computerInfo").html(data);
                $("#computerInfo").css('display', 'block');
                $("#cardInfo").css('display', 'none');


            });
        }
        function getPrinterInfo(ICN, EmployeeID) {
            window.location.href = "#{location}/printer?ICN=" + ICN + '&EmployeeID=' + EmployeeID;
            console.log(ICN);
            $.ajax({
                type: "GET",
                url: "#{location}/printer?ICN=" + ICN + '&EmployeeID=' + EmployeeID,
                data: {format: 'html'}
            }).done(function (data) {
                $("#computerInfo").html(data);
                $("#computerInfo").css('display', 'block');
                $("#cardInfo").css('display', 'none');


            });
        }
        function getPeripheralInfo(ICN, EmployeeID) {
            window.location.href = "#{location}/peripheral?ICN=" + ICN + '&EmployeeID=' + EmployeeID;
            console.log(ICN);
            $.ajax({
                type: "GET",
                url: "#{location}/peripheral?ICN=" + ICN + '&EmployeeID=' + EmployeeID,
                data: {format: 'html'}
            }).done(function (data) {
                $("#computerInfo").html(data);
                $("#computerInfo").css('display', 'block');
                $("#cardInfo").css('display', 'none');


            });
        }
        function newComputer(EmployeeID) {
            window.location.href = "#{location}/newComputer?EmployeeID=" + EmployeeID;
            $.ajax({
                type: "GET",
                url: "#{location}/newComputer?EmployeeID=" + EmployeeID,
                data: {format: 'html'}
            }).done(function (data) {
                $("#computerInfo").html(data);
                $("#computerInfo").css('display', 'block');
                $("#cardInfo").css('display', 'none');


            });
        }

        function newPeripheral(EmployeeID) {
            window.location.href = "#{location}/newPeripheral?EmployeeID=" + EmployeeID;
            $.ajax({
                type: "GET",
                url: "#{location}/newPeripheral?EmployeeID=" + EmployeeID,
                data: {format: 'html'}
            }).done(function (data) {
                $("#computerInfo").html(data);
                $("#computerInfo").css('display', 'block');
                $("#cardInfo").css('display', 'none');


            });
        }
        function newMonitor(EmployeeID) {
            window.location.href = "#{location}/newMonitor?EmployeeID=" + EmployeeID;
            $.ajax({
                type: "GET",
                url: "#{location}/newMonitor?EmployeeID=" + EmployeeID,
                data: {format: 'html'}
            }).done(function (data) {
                $("#computerInfo").html(data);
                $("#computerInfo").css('display', 'block');
                $("#cardInfo").css('display', 'none');
            });
        }
        function getCard(employeeID) {
            window.location.href = '#{location}/card?EmployeeID=' + employeeID;
            console.log(employeeID);
            $.ajax({
                type: "GET",
                url: "#{location}/card?employeeId=" + employeeID,
                data: {format: 'html'}
            }).done(function (data) {
                $("#cardDad").addClass("cardDadCss");
                $("#cardDad").html(data);
                $("#cardDad").css('display', 'block');
            });
        }