extends layout

block content

    if(employee)
        .titles
            if(employee.PictureURL)
                img.pic(src='#{employee.PictureURL}' onerror='javascript:this.src="images/default.png"')
            //h1.center #{employee.FirstName} #{employee.LastName}
            h3.left Office: #{employee.Office} #{employee.Building}
            h3.left Category: #{employee.Category}
            h3.left Rotation Group: #{employee.RotationGroup}
            .add
                div(class='dropdown')
                    div(class='dropbtn') Add Item
                    div(class='dropdown-content')
                        div(onclick='newComputer(#{employee.EmployeeID})') New Computer
                        div(onclick='newMonitor(#{employee.EmployeeID})') New Monitor
                        div(href='/computerTable') New Printer
                        div(onclick='newPeripheral(#{employee.EmployeeID})') New Peripheral
            br
        br
    else
        .titles
            h4.left Employees:
        table.table
            tr#myHeader
                th
                    a(href='#{location}/employeesTable?sortby=employeeId')
                        div='Employee ID'
                th
                    a(href='#{location}/employeesTable?sortby=firstName')
                        div= "First Name"
                th
                    a(href='#{location}/employeesTable?sortby=lastName')
                        div= "Last Name"
                th= "Category"
                th= "Office Location"
                th= "Building"
                th= "Username"
                th= "Email"
                th
                    a(href='#{location}/employeesTable?sortby=rotationGroup')
                        div= "Roation Group"
                th
                    a(href='#{location}/employeesTable?sortby=dateSwitched')
                        div= "Date Switched"
                th= "Notes"
            each employee in employees
                tr
                    td
                        a(href='#{location}/card?EmployeeID=' + employee.EmployeeID)= employee.EmployeeID
                    td= employee.FirstName
                    td= employee.LastName
                    td= employee.Category
                    td= employee.Office
                    td= employee.Building
                    td= employee.UserName
                    td= employee.Email
                    td
                        a(href='#{location}/employeesTable?where=rotationGroup=#{employee.RotationGroup}')
                            div= employee.RotationGroup
                    td
                        a(href='#{location}/employeesTable?where=dateSwitched=#{employee.DateSwitched}')
                            div= employee.DateSwitched
                    td= employee.Notes
    if(Object.keys(computers).length)
        .titles
            h4 Computers:
            if(!employee)
                h3.left= Object.keys(computers).length
        table.table
            tr
                th
                    | ICN
                th
                    | Make
                th
                    | Model
                th
                    | Type
                th
                    | Date Acquired
            each computer in computers
                tr
                    td
                        a(href='#{location}/computer?EmployeeID=' + computer.EmployeeID + '&ICN=' + computer.ICN)= computer.ICN
                    td= computer.Make
                    td= computer.Model
                    td= computer.Type
                    td= computer.DateAcquired
    if(Object.keys(monitors).length)
        .titles
            h4 Monitors:
            if(!employee)
                h3.left= Object.keys(monitors).length
        table.table
            tr
                th
                    | ICN
                th
                    | Make
                th
                    | Model
                th
                    | Date Acquired
            each monitor in monitors
                tr
                    td
                        a(href="#{location}/monitor?ICN=" + monitor.ICN + '&EmployeeID=' + monitor.EmployeeID)= monitor.ICN
                    td= monitor.Make
                    td= monitor.Model
                    td= monitor.DateAcquired
    if(Object.keys(printers).length)
        .titles
            h4 Printers:
            if(!employee)
                h3.left= Object.keys(printers).length
        table.table
            tr
                th
                    | ICN
                th
                    | Make
                th
                    | Model
                th
                    | Date Acquired
            each printer in printers
                tr
                    td
                        a(href="#{location}/printer?ICN=" + printer.ICN + '&EmployeeID=' + printer.EmployeeID)= printer.ICN
                    td= printer.Make
                    td= printer.Model
                    td= printer.DateAcquired
    if(Object.keys(peripherals).length)
        .titles
            h4 Peripherals:
            if(!employee)
                h3.left= Object.keys(peripherals).length
        table.table
            tr
                th
                    | ICN
                th
                    | Item
                th
                    | Make
                th
                    | Model
                th
                    | Date Acquired
            each peripheral in peripherals
                tr
                    td
                        a(href="#{location}/peripheral?ICN=" + peripheral.ICN + '&EmployeeID=' + peripheral.EmployeeID)= peripheral.ICN
                    td= peripheral.Item
                    td= peripheral.Make
                    td= peripheral.Model
                    td= peripheral.DateAcquired
    br
    script.
        function getComputerInfo(ICN, EmployeeID) {
            window.location.href = '#{location}/computer?EmployeeID=' + EmployeeID + '&ICN=' + ICN;
            console.log(ICN);
            $.ajax({
                type: "GET",
                url: "#{location}/computer?ICN=" + ICN + '&EmployeeID=' + EmployeeID,
                data: {format: 'html'}
            }).done(function (data) {
                $("#computerInfo").html(data);
                $("#computerInfo").css('display', 'block');
                $("#cardInfo").css('display', 'none');


            });
        }
        function getMonitorInfo(ICN, EmployeeID) {
            window.location.href = "#{location}/monitor?ICN=" + ICN + '&EmployeeID=' + EmployeeID;
            console.log(ICN);
            $.ajax({
                type: "GET",
                url: "#{location}/monitor?ICN=" + ICN + '&EmployeeID=' + EmployeeID,
                data: {format: 'html'}
            }).done(function (data) {
                $("#computerInfo").html(data);
                $("#computerInfo").css('display', 'block');
                $("#cardInfo").css('display', 'none');


            });
        }
        function getPrinterInfo(ICN, EmployeeID) {
            window.location.href = "#{location}/printer?ICN=" + ICN + '&EmployeeID=' + EmployeeID;
            console.log(ICN);
            $.ajax({
                type: "GET",
                url: "#{location}/printer?ICN=" + ICN + '&EmployeeID=' + EmployeeID,
                data: {format: 'html'}
            }).done(function (data) {
                $("#computerInfo").html(data);
                $("#computerInfo").css('display', 'block');
                $("#cardInfo").css('display', 'none');


            });
        }
        function getPeripheralInfo(ICN, EmployeeID) {
            window.location.href = "#{location}/peripheral?ICN=" + ICN + '&EmployeeID=' + EmployeeID;
            console.log(ICN);
            $.ajax({
                type: "GET",
                url: "#{location}/peripheral?ICN=" + ICN + '&EmployeeID=' + EmployeeID,
                data: {format: 'html'}
            }).done(function (data) {
                $("#computerInfo").html(data);
                $("#computerInfo").css('display', 'block');
                $("#cardInfo").css('display', 'none');


            });
        }
        function newComputer(EmployeeID) {
            window.location.href = "#{location}/newComputer?EmployeeID=" + EmployeeID;
            $.ajax({
                type: "GET",
                url: "#{location}/newComputer?EmployeeID=" + EmployeeID,
                data: {format: 'html'}
            }).done(function (data) {
                $("#computerInfo").html(data);
                $("#computerInfo").css('display', 'block');
                $("#cardInfo").css('display', 'none');


            });
        }

        function newPeripheral(EmployeeID) {
            window.location.href = "#{location}/newPeripheral?EmployeeID=" + EmployeeID;
            $.ajax({
                type: "GET",
                url: "#{location}/newPeripheral?EmployeeID=" + EmployeeID,
                data: {format: 'html'}
            }).done(function (data) {
                $("#computerInfo").html(data);
                $("#computerInfo").css('display', 'block');
                $("#cardInfo").css('display', 'none');


            });
        }
        function newMonitor(EmployeeID) {
            window.location.href = "#{location}/newMonitor?EmployeeID=" + EmployeeID;
            $.ajax({
                type: "GET",
                url: "#{location}/newMonitor?EmployeeID=" + EmployeeID,
                data: {format: 'html'}
            }).done(function (data) {
                $("#computerInfo").html(data);
                $("#computerInfo").css('display', 'block');
                $("#cardInfo").css('display', 'none');
            });
        }
        function getCard(employeeID) {
            window.location.href = '#{location}/card?EmployeeID=' + employeeID;
            console.log(employeeID);
            $.ajax({
                type: "GET",
                url: "#{location}/card?employeeId=" + employeeID,
                data: {format: 'html'}
            }).done(function (data) {
                $("#cardDad").addClass("cardDadCss");
                $("#cardDad").html(data);
                $("#cardDad").css('display', 'block');
            });
        }