extends layout

block content
    link(rel='stylesheet', href='#{location}/stylesheets/table.css')
    if(sortby)
        div
            | Sort By: #{sortby} #{order}
    if(filters)
        each filter, i in filters
            div= filter
            a.byu-button.medgray(href='#{location}/computerTable?remove=' + i) Remove Filter
            a.byu-button.navy(href='#{location}/computerTable?not=' + i) Inverse Filter
    br
    #sidebarToggle.byu-button.navy(onclick='toggleSidebar()')
        | Toggle Sidebar
    br
    #sidebar(style='width: 200px; display: none;')
        div= "Count: " + Object.keys(computers).length
        include showOptions
        if(hardware)
            a.byu-button.whitenavy(href='#{location}/computerTable?hardware=false') Hide Hardware
        else
            a.byu-button.whitenavy(href='#{location}/computerTable?hardware=true') View Hardware
        a.byu-button.whitenavy(href='#{location}/download/computers') Download
    div(style='overflow-x:auto;')
        table#table
            tbody
                tr#myHeader
                    td
                        if(order === 'asc')
                            a(href='#{location}/computerTable?sortby=ICN&order=dsc')
                                div='ICN'
                        else
                            a(href='#{location}/computerTable?sortby=ICN&order=asc')
                                div='ICN'
                    if(showOptions.FirstName)
                        td
                            if(order === 'asc')
                                a(href='#{location}/computerTable?sortby=firstname&order=dsc')
                                    div= "First Name"
                            else
                                a(href='#{location}/computerTable?sortby=firstname&order=asc')
                                    div= "First Name"
                    if(showOptions.LastName)
                        td
                            if(order === 'asc')
                                a(href='#{location}/computerTable?sortby=lastname&order=dsc')
                                    div= "Last Name"
                            else
                                a(href='#{location}/computerTable?sortby=lastname&order=asc')
                                    div= "Last Name"
                    if(showOptions.Make)
                        td
                            if(order === 'asc')
                                a(href='#{location}/computerTable?sortby=Make&order=dsc')
                                    div= "Make"
                            else
                                a(href='#{location}/computerTable?sortby=Make&order=asc')
                                    div= "Make"
                    if(showOptions.Model)
                        td
                            if(order === 'asc')
                                a(href='#{location}/computerTable?sortby=Model&order=dsc')
                                    div= "Model"
                            else
                                a(href='#{location}/computerTable?sortby=Model&order=asc')
                                    div= "Model"
                    if(showOptions.SerialNumber)
                        td= "Serial Number"
                    if(showOptions.ServiceTag)
                        td= "Service Tag"
                    if(showOptions.ExpressServiceCode)
                        td= "Express Service Code"
                    if(showOptions.Type)
                        td= "Type"
                    if(showOptions.DateAcquired)
                        td
                            if(order === 'asc')
                                a(href='#{location}/computerTable?sortby=dateAcquired&order=dsc')
                                    div= "Date Acquired"
                            else
                                a(href='#{location}/computerTable?sortby=dateAcquired&order=asc')
                                    div= "Date Acquired"
                    if(showOptions.Warranty)
                        td= "Warranty"
                    if(showOptions.HomeCheckout)
                        td= "Home Checkout"
                    if(showOptions.Rotation)
                        td= "Rotation"
                    if(showOptions.Notes)
                        td= "Notes"
                    if(showOptions.History)
                        td= "History"
                    if(hardware)
                        td
                            a(href='#{location}/computerTable?sortby=processorType&hardware=true&order=asc')
                                div= "Processor Type"
                        td
                            a(href='#{location}/computerTable?sortby=processorSpeed&hardware=true&order=asc')
                                div= "Processor Speed"
                        td
                            a(href='#{location}/computerTable?sortby=memory&hardware=true&order=asc')
                                div= "Memory"
                        td
                            a(href='#{location}/computerTable?sortby=hardDrive&hardware=true&order=asc')
                                div= "Hard Drive"
                        td
                            a(href='#{location}/computerTable?sortby=vcName&hardware=true&order=asc')
                                div= "Graphics Card"
                each computer in computers
                    tr
                        td
                            a(href='#{location}/computer?ICN=' + computer.ICN)
                                div= computer.ICN
                                //i(class="material-icons") laptop
                        if(showOptions.FirstName)
                            td
                                a(href='#{location}/computerTable?where=EmployeeID=\'#{computer.EmployeeID}\'')
                                    div= computer.FirstName
                        if(showOptions.LastName)
                            td
                                a(href='#{location}/computerTable?where=EmployeeID=\'#{computer.EmployeeID}\'')
                                    div= computer.LastName
                        if(showOptions.Make)
                            td
                                a(href='#{location}/computerTable?where=Make=\'#{computer.Make}\'')
                                    div= computer.Make
                        if(showOptions.Model)
                            td
                                a(href='#{location}/computerTable?where=Model=\'#{computer.Model}\'')
                                    div= computer.Model
                        if(showOptions.SerialNumber)
                            td= computer.SerialNumber
                        if(showOptions.ServiceTag)
                            td= computer.ServiceTag
                        if(showOptions.ExpressServiceCode)
                            td= computer.ExpressServiceCode
                        if(showOptions.Type)
                            td
                                a(href='#{location}/computerTable?where=Type=\'#{computer.Type}\'')
                                    div= computer.Type
                        if(showOptions.DateAcquired)
                            td= computer.DateAcquired
                        if(showOptions.Warranty)
                            td= computer.Warranty
                        if(showOptions.HomeCheckout)
                            td
                                a(href='#{location}/computerTable?where=HomeCheckout=\'#{computer.HomeCheckout}\'')
                                    div= computer.HomeCheckout
                        if(showOptions.Rotation)
                            td
                                a(href='#{location}/computerTable?where=RotationGroup=\'#{computer.RotationGroup}\'')
                                    div= computer.RotationGroup
                        if(showOptions.Notes)
                            td= computer.Notes
                        if(showOptions.History)
                            td= computer.History
                        if(hardware)
                            td
                                a(href='#{location}/computerTable?where=ProcessorType=\'#{computer.ProcessorType}\'')
                                    div= computer.ProcessorType
                            td
                                a(href='#{location}/computerTable?where=ProcessorSpeed=\'#{computer.ProcessorSpeed}\'')
                                    div= computer.ProcessorSpeed
                            td
                                a(href='#{location}/computerTable?where=Memory=\'#{computer.Memory}\'')
                                    div= computer.Memory
                            td
                                a(href='#{location}/computerTable?where=HardDrive=\'#{computer.HardDrive}\'')
                                    div= computer.HardDrive
                            td
                                a(href='#{location}/computerTable?where=VCName=\'#{computer.VCName}\'')
                                    div= computer.VCName
    script.
        function toggleSidebar(){
            $("#sidebar").slideToggle();
        }
        function getComputerInfo(ICN, EmployeeID) {
            window.location.href = '#{location}/computer?EmployeeID=' + EmployeeID + '&ICN=' + ICN;
        }