extends layout

block content
    link(rel='stylesheet', href='#{location}/stylesheets/table.css')
    #cardDad(style='display: none;')
        #card
            #computerInfo
    if(filters)
        each filter, i in filters
            div= filter
                a.filterButton(href='#{location}/computerTable?remove=' + i) Remove Filter
                a.filterButton(href='#{location}/computerTable?not=' + i) Inverse Filter

    div= "Count: " + Object.keys(computers).length
    a.byu-button.whitenavy(href='#{location}/download/computers') Download
    div(style='overflow-x:auto;')
        table#table
            tbody
                tr#myHeader
                    td
                        if(order === 'asc')
                            a(href='#{location}/computerTable?sortby=ICN&order=dsc')
                                div='ICN'
                        else
                            a(href='#{location}/computerTable?sortby=ICN&order=asc')
                                div='ICN'
                    td
                        if(order === 'asc')
                            a(href='#{location}/computerTable?sortby=firstname&order=dsc')
                                div= "First Name"
                        else
                            a(href='#{location}/computerTable?sortby=firstname&order=asc')
                                div= "First Name"
                    td
                        if(order === 'asc')
                            a(href='#{location}/computerTable?sortby=lastname&order=dsc')
                                div= "Last Name"
                        else
                            a(href='#{location}/computerTable?sortby=lastname&order=asc')
                                div= "Last Name"
                    td
                        if(order === 'asc')
                            a(href='#{location}/computerTable?sortby=Make&order=dsc')
                                div= "Make"
                        else
                            a(href='#{location}/computerTable?sortby=Make&order=asc')
                                div= "Make"
                    td= "Model"
                    td= "Serial Number"
                    td= "Service Tag"
                    td= "Express Service Code"
                    td= "Type"
                    td
                        if(order === 'asc')
                            a(href='#{location}/computerTable?sortby=dateAcquired&order=dsc')
                                div= "Date Acquired"
                        else
                            a(href='#{location}/computerTable?sortby=dateAcquired&order=asc')
                                div= "Date Acquired"
                    td= "Warranty"
                    td= "Home Checkout"
                    td= "Rotation"
                    td= "Notes"
                each computer in computers
                    tr
                        td
                            .divButton(onclick='getComputerInfo(#{computer.ICN}, #{computer.EmployeeID})')= computer.ICN
                                //i(class="material-icons") laptop
                        td
                            a(href='#{location}/computerTable?where=EmployeeID=\'#{computer.EmployeeID}\'')
                                div= computer.FirstName
                        td
                            a(href='#{location}/computerTable?where=EmployeeID=\'#{computer.EmployeeID}\'')
                                div= computer.LastName
                        td
                            a(href='#{location}/computerTable?where=Make=\'#{computer.Make}\'')
                                div= computer.Make
                        td
                            a(href='#{location}/computerTable?where=Model=\'#{computer.Model}\'')
                                div= computer.Model
                        td= computer.SerialNumber
                        td= computer.ServiceTag
                        td= computer.ExpressServiceCode
                        td
                            a(href='#{location}/computerTable?where=Type=\'#{computer.Type}\'')
                                div= computer.Type
                        td= computer.DateAcquired
                        td= computer.Warranty
                        td= computer.HomeCheckout
                        td
                            a(href='#{location}/computerTable?where=RotationGroup=\'#{computer.RotationGroup}\'')
                                div= computer.RotationGroup
                        td= computer.Notes
    script.

        function getComputerInfo(ICN, EmployeeID) {
            window.location.href = '#{location}/computer?EmployeeID=' + EmployeeID + '&ICN=' + ICN;
        }