extends layout

block content
    link(rel='stylesheet', href='#{location}/stylesheets/table.css')
    #cardDad(style='display: none;')
        #card
            #computerInfo
    if(filters)
        each filter, i in filters
            div= filter
                a.filterButton(href='#{location}/computerTable?remove=' + i) Remove Filter
                a.filterButton(href='#{location}/computerTable?not=' + i) Inverse Filter

    div= "Count: " + Object.keys(computers).length
    div(style='overflow-x:auto;')
        table#table
            tbody
                tr#myHeader
                    td
                        a(href='#{location}/computerTable?sortby=ICN')
                            div='ICN'
                    td
                        a(href='#{location}/computerTable?sortby=firstname')
                            div= "First Name"
                    td
                        a(href='#{location}/computerTable?sortby=lastName')
                            div= "Last Name"
                    td
                        a(href='#{location}/computerTable?sortby=Make')
                            div= "Make"
                    td= "Model"
                    td= "Serial Number"
                    td= "Service Tag"
                    td= "Express Service Code"
                    td= "Type"
                    td= "Date Acquired"
                    td= "Warranty"
                    td= "Home Checkout"
                    td= "Notes"
                each computer in computers
                    tr(onclick='getComputerInfo(#{computer.ICN}, #{computer.EmployeeID})')
                        td
                            a(href='#{location}/computerTable?where=ICN=#{computer.ICN}')
                                div= computer.ICN
                                //i(class="material-icons") laptop
                        td= computer.FirstName
                        td= computer.LastName
                        td
                            a(href='#{location}/computerTable?where=Make=\'#{computer.Make}\'')
                                div= computer.Make
                        td
                            a(href='#{location}/computerTable?where=Model=\'#{computer.Model}\'')
                                div= computer.Model
                        td= computer.SerialNumber
                        td= computer.ServiceTag
                        td= computer.ExpressServiceCode
                        td
                            a(href='#{location}/computerTable?where=Type=\'#{computer.Type}\'')
                                div= computer.Type
                        td= computer.DateAcquired
                        td= computer.Warranty
                        td= computer.HomeCheckout
                        td= computer.Notes
    script.

        function getComputerInfo(ICN, EmployeeID) {
            window.location.href = '#{location}/computer?EmployeeID=' + EmployeeID + '&ICN=' + ICN;
        }


