include createTableForEmail.jade
style.
    tr {
        height: 50px;
        z-index: 1;
    }
    td {
        border: 1px solid black;

    }

    a {
        z-index: 2;
    }

    h3 {
        width: 50%;
    }

    .table {
        border-spacing: 0;
        width: 50%;
        overflow-x: auto;
    }

    .table td, .table th {
        border: 1px solid #ddd;
        padding: 8px;
        border-right: 0;
        border-left: 0;
    }

    .table td:last-child {
        border-right: 1px solid #ddd;
    }

    .table td:first-child {
        border-left: 1px solid #ddd;
    }

    .table th {
        padding-top: 12px;
        padding-bottom: 12px;
        border-top: 0;
    }
if(employee)
    p
        | #{employee.FirstName} #{employee.LastName},
    p
        | Each year we are required to inventory all equipment in Religious Education.  We have not been able to verify the following items assigned to you.  Please let us know that you have the following items in your possession:

table.table
    tr
        each showOption, key in computerShowOptions
            if(showOption && key !== 'FirstName' && key !== 'LastName')
                td
                    if(key === 'MAX(Inventory.CurrentDate)')
                        div= 'Inventory'
                    else
                        //.replace(/([A-Z])/g, ' $1')
                        div=key
    +createTable(computerShowOptions, notInventoriedArr, 'computer', true)
br
br
p
    | These items assigned to you have already been inventoried:

table.table
    tr
        each showOption, key in computerShowOptions
            if(showOption && key !== 'FirstName' && key !== 'LastName')
                td
                    if(key === 'MAX(Inventory.CurrentDate)')
                        div= 'Inventory'
                    else
                        //.replace(/([A-Z])/g, ' $1')
                        div=key
    +createTable(computerShowOptions, inventoriedArr, 'computer', true)
p
    | We will continue to send you friendly, loving, potentially obnoxious reminders until we hear back from you.
p
    | Thank you for your understanding and support.
p
    | Sincerely,
p
    | Religious Education Computer Support
