if(filters)
    each filter, i in filters
        div= filter
        a.byu-button.medgray(href='#{location}/#{table}Table?remove=' + i) Remove Filter
        a.byu-button.navy(href='#{location}/#{table}Table?not=' + i) Inverse Filter