extends layout

block content
    link(rel='stylesheet', href='#{location}/stylesheets/table.css')
    include filters
    div(style='overflow-x:auto;')
        table#table
            tbody
                tr#myHeader
                    th
                        a(href='#{location}/employeesTable?sortby=employeeId')
                            div='Employee ID'
                    th
                        a(href='#{location}/employeesTable?sortby=firstName')
                            div= "First Name"
                    th
                        a(href='#{location}/employeesTable?sortby=lastName')
                            div= "Last Name"
                    th= "Category"
                    th
                        a(href='#{location}/employeesTable?sortby=office')
                            div= "Office Location"
                    th= "Building"
                    th= "Username"
                    th= "Email"
                    th
                        a(href='#{location}/employeesTable?sortby=rotationGroup')
                            div= "Roation Group"
                    th
                        a(href='#{location}/employeesTable?sortby=dateSwitched')
                            div= "Date Switched"
                    //th= "Notes"
                each employee in employees
                    tr
                        td
                            a(href='#{location}/card?EmployeeID=' + employee.EmployeeID)= employee.EmployeeID
                        td= employee.FirstName
                        td= employee.LastName
                        td= employee.Category
                        td= employee.Office
                        td= employee.Building
                        td= employee.UserName
                        td= employee.Email
                        td
                            a(href='#{location}/employeesTable?where=rotationGroup=#{employee.RotationGroup}')
                                div= employee.RotationGroup
                        td=employee.DateSwitched
                        //td= employee['Employee Notes']
