extends layout

block content
    link(rel='stylesheet', href='#{location}/stylesheets/table.css')
    #tempData(style='display: none;')
    div(id='cardDad')
    #filters
        if(filters)
            each filter, i in filters
                div= filter
                    a.filterButton(href='#{location}/employeesTable?remove=' + i) Remove Filter
                    a.filterButton(href='#{location}/employeesTable?not=' + i) Inverse Filter
    div(style='overflow-x:auto;')
        table#table
            tbody
                tr#myHeader
                    th
                        a(href='#{location}/employeesTable?sortby=employeeId')
                            div='Employee ID'
                    th
                        a(href='#{location}/employeesTable?sortby=firstName')
                            div= "First Name"
                    th
                        a(href='#{location}/employeesTable?sortby=lastName')
                            div= "Last Name"
                    th= "Category"
                    th= "Office Location"
                    th= "Building"
                    th= "Username"
                    th= "Email"
                    th
                        a(href='#{location}/employeesTable?sortby=rotationGroup')
                            div= "Roation Group"
                    th
                        a(href='#{location}/employeesTable?sortby=dateSwitched')
                            div= "Date Switched"
                    th= "Notes"
                each employee in employees
                    tr
                        td
                            .divButton(onclick='getCard(#{employee.EmployeeID})')= employee.EmployeeID
                        td= employee.FirstName
                        td= employee.LastName
                        td= employee.Category
                        td= employee.Office
                        td= employee.Building
                        td= employee.UserName
                        td= employee.Email
                        td
                            a(href='#{location}/employeesTable?where=rotationGroup=#{employee.RotationGroup}')
                                div= employee.RotationGroup
                        td=employee.DateAcquired
                        td= employee.Notes
    script.
        function getCard(employeeID) {
            window.location.href = '#{location}/card?EmployeeID=' + employeeID;
            console.log(employeeID);
            $.ajax({
                type: "GET",
                url: "#{location}/card?employeeId=" + employeeID,
                data: {format: 'html'}
            }).done(function (data) {
                $("#cardDad").addClass("cardDadCss");
                $("#cardDad").html(data);
                $("#cardDad").css('display', 'block');
            });
        }

        window.onscroll = function () {
            myFunction()
        };

        var header = document.getElementById("myHeader");
        var sticky = header.offsetTop;

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
        }