img.right(src=employee.PictureURL)
div
    h2= title
br
br
br
div(style='float: right;')
    a.byu-button.medgray(href='#{location}/card?EmployeeID=#{employee.EmployeeID}' style='margin-right: 10px;') #{employee.FirstName}'s Stuff
    .byu-button.green(onclick='go();') Submit
div.sendToStorage
    .byu-button.yellow.sendToStorageButton(onclick='surplus();') Send to Storage
br
br