extends layout

block content
    link(rel='stylesheet', href='#{location}/stylesheets/table.css')
    #cardDad(style='display: none;')
        #card
            #computerInfo
    .titles
        h4.left Computers:
    table.table
        tr
            th
                | ICN
            th
                | Make
            th
                | Model
            th
                | Type
            th
                | Date Acquired
        each computer in computers
            tr(ondragstart="dragStart(event)" ondragend="stop(event)" draggable="true" ondrag="dragging(event)" onclick="getComputerInfo(#{computer.ICN}, #{employee.EmployeeID})")
                td= computer.ICN
                td= computer.Make
                td= computer.Model
                td= computer.Type
                td= computer.DateAcquired
    .titles
        h4.left Monitors:
    table.table
        tr
            th
                | ICN
            th
                | Make
            th
                | Model
        each monitor in monitors
            tr(ondragstart="dragStart(event)" ondragend="stop(event)" draggable="true" ondrag="dragging(event)" onclick="getMonitorInfo(#{monitor.ICN}, #{employee.EmployeeID})")
                td= monitor.ICN
                td= monitor.Make
                td= monitor.Model
    .titles
        h4.left Printers:

    table.table
        tr
            th
                | ICN
            th
                | Make
            th
                | Model
        each printer in printers
            tr(ondragstart="dragStart(event)" ondragend="stop(event)" draggable="true" ondrag="dragging(event)" onclick="getPrinterInfo(#{printer.ICN}, #{printer.EmployeeID})")
                td= printer.ICN
                td= printer.Make
                td= printer.Model
    .titles
        h4.left Peripherals:

    table.table
        tr
            th
                | ICN
            th
                | Item
            th
                | Make
            th
                | Model
        each peripheral in peripherals
            tr(ondragstart="dragStart(event)" ondragend="stop(event)" draggable="true" ondrag="dragging(event)" onclick="getPeripheralInfo(#{peripheral.ICN}, #{peripheral.EmployeeID})")
                td= peripheral.ICN
                td= peripheral.Item
                td= peripheral.Make
                td= peripheral.Model
    br
    script.
        $(document).ready(function(){
            $('.table').DataTable();
        })
        function getComputerInfo(ICN, EmployeeID) {
            window.location.href = '#{location}/computer?EmployeeID=' + EmployeeID + '&ICN=' + ICN;
            console.log(ICN);
            $.ajax({
                type: "GET",
                url: "#{location}/computer?ICN=" + ICN + '&EmployeeID=' + EmployeeID,
                data: {format: 'html'}
            }).done(function (data) {
                $("#computerInfo").html(data);
                $("#computerInfo").css('display', 'block');
                $("#cardInfo").css('display', 'none');


            });
        }
        function getMonitorInfo(ICN, EmployeeID) {
            window.location.href = "#{location}/monitor?ICN=" + ICN + '&EmployeeID=' + EmployeeID;
            console.log(ICN);
            $.ajax({
                type: "GET",
                url: "#{location}/monitor?ICN=" + ICN + '&EmployeeID=' + EmployeeID,
                data: {format: 'html'}
            }).done(function (data) {
                $("#computerInfo").html(data);
                $("#computerInfo").css('display', 'block');
                $("#cardInfo").css('display', 'none');


            });
        }
        function getPrinterInfo(ICN, EmployeeID) {
            window.location.href = "#{location}/printer?ICN=" + ICN + '&EmployeeID=' + EmployeeID;
            console.log(ICN);
            $.ajax({
                type: "GET",
                url: "#{location}/printer?ICN=" + ICN + '&EmployeeID=' + EmployeeID,
                data: {format: 'html'}
            }).done(function (data) {
                $("#computerInfo").html(data);
                $("#computerInfo").css('display', 'block');
                $("#cardInfo").css('display', 'none');


            });
        }
        function getPeripheralInfo(ICN, EmployeeID) {
            window.location.href = "#{location}/peripheral?ICN=" + ICN + '&EmployeeID=' + EmployeeID;
            console.log(ICN);
            $.ajax({
                type: "GET",
                url: "#{location}/peripheral?ICN=" + ICN + '&EmployeeID=' + EmployeeID,
                data: {format: 'html'}
            }).done(function (data) {
                $("#computerInfo").html(data);
                $("#computerInfo").css('display', 'block');
                $("#cardInfo").css('display', 'none');


            });
        }
        function newComputer(EmployeeID) {
            window.location.href = "#{location}/newComputer?EmployeeID=" + EmployeeID;
            $.ajax({
                type: "GET",
                url: "#{location}/newComputer?EmployeeID=" + EmployeeID,
                data: {format: 'html'}
            }).done(function (data) {
                $("#computerInfo").html(data);
                $("#computerInfo").css('display', 'block');
                $("#cardInfo").css('display', 'none');


            });
        }

        function newPeripheral(EmployeeID) {
            window.location.href = "#{location}/newPeripheral?EmployeeID=" + EmployeeID;
            $.ajax({
                type: "GET",
                url: "#{location}/newPeripheral?EmployeeID=" + EmployeeID,
                data: {format: 'html'}
            }).done(function (data) {
                $("#computerInfo").html(data);
                $("#computerInfo").css('display', 'block');
                $("#cardInfo").css('display', 'none');


            });
        }
        function newMonitor(EmployeeID) {
            window.location.href = "#{location}/newMonitor?EmployeeID=" + EmployeeID;
            $.ajax({
                type: "GET",
                url: "#{location}/newMonitor?EmployeeID=" + EmployeeID,
                data: {format: 'html'}
            }).done(function (data) {
                $("#computerInfo").html(data);
                $("#computerInfo").css('display', 'block');
                $("#cardInfo").css('display', 'none');
            });
        }