doctype html
html
    head
        title= title
        //link(rel='stylesheet', href="https://www.w3schools.com/w3css/4/w3.css")
        //link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css")
        //script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js")
        link(rel='stylesheet', href='#{location}/stylesheets/card.css')
        link(rel='stylesheet', href='#{location}/stylesheets/table.css')
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel='stylesheet', href='#{location}/stylesheets/style.css')
        link(type="text/css", rel="stylesheet", href="https://cdn.byu.edu/theme-fonts/latest/ringside/fonts.css", media="all")
        //link(rel="stylesheet", href="https://cdn.byu.edu/byu-theme-components/latest/byu-theme-components.min.css")
        link(rel="stylesheet", href="https://cdn.byu.edu/byu-theme-style-helpers/latest/buttons.css")
        //script(async="", src="https://cdn.byu.edu/byu-theme-components/latest/byu-theme-components.min.js")
        link(rel="stylesheet" href="https://cdn.byu.edu/byu-theme-components/1.x.x/byu-theme-components.min.css")
        script(async src="https://cdn.byu.edu/byu-theme-components/1.x.x/byu-theme-components.min.js")
        script(src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        byu-header(full-width="")
            span(slot="site-title") Religious Education Inventory
            span(slot="site-title" class="subtitle")= title
            if(download)
                a(slot='actions' href='#{location}/download/' + download style='padding-right: 25px;') Export
            if(actionButton)
                a(slot='actions' href='#{location}/#{actionButton.href}' style='padding-right: 25px;')= actionButton.name

            byu-search(slot="search", action="submit-form", method="get", placeholder="search")
                form(method="get" action="#{location}/search")
                    input(type="search" name="searchTerms")
            byu-user-info(slot="user")
                a(slot="login", href="#{location}/cas") Sign In
                a(slot="logout", href="#{location}/logout") Sign Out
                if(user)
                    if(user.name)
                        span(slot="user-name") #{user.name}
                    else if (user.netId)
                        span(slot="user-name") #{user.netId}
            byu-menu(slot="nav", collapsed="")
                if(title === 'Employees')
                    a(href="#{location}/" class='active') Employees
                else
                    a(href="#{location}/") Employees
                if(title === 'Computers')
                    a(href="#{location}/computerTable" class='active') Computers
                else
                    a(href="#{location}/computerTable") Computers
                if(title === 'Monitors')
                    a(href="#{location}/monitorTable" class='active') Monitors
                else
                    a(href="#{location}/monitorTable") Monitors
                if(title === 'Printers')
                    a(href="#{location}/printerTable" class='active') Printers
                else
                    a(href="#{location}/printerTable") Printers
                if(title === 'Peripherals')
                    a(href="#{location}/peripheralTable" class='active') Peripherals
                else
                    a(href="#{location}/peripheralTable") Peripherals
                if(title === 'JSB Storage\'s Stuff')
                    a(href="#{location}/card?EmployeeID=300" class='active') JSB Storage
                else
                    a(href="#{location}/card?EmployeeID=300") JSB Storage
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script.
            if (!/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                // some code..
                console.log('ding dong');
                document.querySelector('input').autofocus = true;
            }
        block content
