doctype html
html
    head
        title= title
        //link(rel='stylesheet', href="https://www.w3schools.com/w3css/4/w3.css")
        link(rel='stylesheet', href='#{location}/stylesheets/card.css')
        link(rel='stylesheet', href='#{location}/stylesheets/table.css')
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel='stylesheet', href='#{location}/stylesheets/style.css')
        link(type="text/css", rel="stylesheet", href="//cloud.typography.com/75214/6517752/css/fonts.css", media="all")
        link(rel="stylesheet", href="https://cdn.byu.edu/byu-theme-components/latest/byu-theme-components.min.css")
        link(rel="stylesheet", href="https://cdn.byu.edu/byu-theme-style-helpers/latest/buttons.css")
        script(async="", src="https://cdn.byu.edu/byu-theme-components/latest/byu-theme-components.min.js")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        byu-header(full-width="")
            span(slot="site-title") Religious Education Inventory
            span(slot="site-title" class="subtitle")= title
            if(download)
                a(slot='actions' href='#{location}/download/' + download style='padding-right: 25px;') Export
            byu-search(slot="search", action="submit-form", method="get", placeholder="search")
                form(method="get" action="#{location}/search")
                    input(type="search" name="searchTerms" autofocus="autofocus")
            byu-user-info(slot="user")
                a(slot="login", href="#{location}/cas") Sign In
                a(slot="logout", href="#{location}/logout") Sign Out
                if(user)
                    if(user.name)
                        span(slot="user-name") #{user.name}
                    else if (user.netId)
                        span(slot="user-name") #{user.netId}
            byu-menu(slot="nav", collapsed="")
                a(href="#{location}/") Employees
                a(href="#{location}/computerTable") Computers
                a(href="#{location}/monitorsTable") Monitors
                a(href="#{location}/printerTable") Printers
                a(href="#{location}/peripheralTable") Peripherals
                a(href="#{location}/jsbSurplus") JSB Storage
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        block content
    script.
        function dragStart(event) {
            console.log(event.target);
            event.dataTransfer.setData("Text", event.target.innerHTML);
        }

        function allowDrop(event) {
            event.target.style.backgroundColor = 'red';
            event.preventDefault();
        }
        function stop(event) {
            document.getElementById("mySidebar").style.display = "none";
        }

        function dragLeave(event) {
            event.target.style.backgroundColor = '#ffffff';
        }

        function dragging(event) {
            document.getElementById("mySidebar").style.width = "25%";
            document.getElementById("mySidebar").style.display = "block";
        }

        function drop(event) {
            event.preventDefault();
            var data = event.dataTransfer.getData("Text");
            //        event.target.appendChild(document.getElementById(data));
            console.log(event);
            document.getElementById("demo").innerHTML = data + " Was moved to " + event.target.innerHTML;
        }

        function w3_open() {
            document.getElementById("mySidebar").style.width = "25%";
            document.getElementById("mySidebar").style.display = "block";
        }
        function w3_close() {
            console.log('closer');
            document.getElementById("mySidebar").style.display = "none";
        }


