extends layout

block content
    link(rel='stylesheet', href='#{location}/stylesheets/table.css')
    #cardDad(style='display: none;')
        #card
            #computerInfo
    if(filters)
        each filter, i in filters
            div= filter
            a.filterButton(href='#{location}/monitorsTable?remove=' + i) Remove Filter
            a.filterButton(href='#{location}/monitorsTable?not=' + i) Inverse Filter

    div= "Count: " + Object.keys(monitors).length
    div(style='overflow-x:auto;')
        table#table
            tbody
                tr#myHeader
                    td
                        a(href='#{location}/monitorsTable?sortby=ICN')
                            div='ICN'
                    td
                        a(href='#{location}/monitorsTable?sortby=firstname')
                            div= "First Name"
                    td
                        a(href='#{location}/monitorsTable?sortby=lastName')
                            div= "Last Name"
                    td
                        a(href='#{location}/monitorsTable?sortby=Make')
                            div= "Make"
                    td
                        a(href='#{location}/monitorsTable?sortby=Model')
                            div= "Model"
                    td= "Serial Number"
                    td
                        a(href='#{location}/monitorsTable?sortby=DateAcquired')
                            div= "Date Acquired"
                    td= "Warranty"
                    td= "Home Checkout"
                    td= "Notes"
                each monitor in monitors
                    tr
                        td
                            a(href='#{location}/monitor?ICN=' + monitor.ICN)
                                div= monitor.ICN
                                //i(class="material-icons") laptop
                        td
                            a(href='#{location}/monitorsTable?where=EmployeeID=#{monitor.EmployeeID}')
                                div= monitor.FirstName
                        td
                            a(href='#{location}/monitorsTable?where=EmployeeID=#{monitor.EmployeeID}')
                                div= monitor.LastName
                        td
                            a(href='#{location}/monitorsTable?where=Make=\'#{monitor.Make}\'')
                                div= monitor.Make
                        td
                            a(href='#{location}/monitorsTable?where=Model=\'#{monitor.Model}\'')
                                div= monitor.Model
                        td= monitor.SerialNumber
                        td= monitor.DateAcquired
                        td= monitor.Warranty
                        td
                            a(href='#{location}/monitorsTable?where=HomeCheckout=\'#{monitor.HomeCheckout}\'')
                                div= monitor.HomeCheckout
                        td= monitor.Notes
    script.

        function getMonitorInfo(ICN, EmployeeID) {
            window.location.href = "#{location}/monitor?ICN=" + ICN + '&EmployeeID=' + EmployeeID;
        }


