extends layout

block content
    style.
            * {
                box-sizing: border-box;
            }

            input[type=text], textarea {
                width: 100%;
                /*padding: 12px;*/
                border: 1px solid #ccc;
                border-radius: 4px;
                resize: vertical;
                /*font-size: 16pt;*/

            }

            label {
                padding: 12px 12px 12px 0;
                display: inline-block;
            }

            #go {
                background-color: #4CAF50;
                padding: 12px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                float: right;
                margin-top: 10px;
            }

            input[type=submit]:hover {
                background-color: #45a049;
            }

            select {
                padding: 3px;
                margin: auto;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                background: #ffffff;
                color: #000000;
                border: none;
                outline: none;
                display: inline-block;
                -webkit-appearance: none;
                -moz-appearance: none;
                cursor: pointer;
                /*font-size: 16pt;*/
                text-align: center;
            }

            .container {
                border-radius: 5px;
                background-color: #f2f2f2;
                padding: 20px;
                width: 90%;
                margin: auto;
            }

            .col-25 {
                float: left;
                width: 11%;
                margin-top: 6px;
                padding-left: 12px;
                text-align: center;
            }

            .col-75 {
                float: left;
                width: 22%;
                margin-top: 6px;
            }

            /* Clear floats after the columns */
            .row:after {
                content: "";
                display: table;
                clear: both;
            }

            .info {
                float: right;
                width: 30%;
            }

            .categories {
                overflow: hidden;
                background-color: navy;
                font-family: Arial;
            }

            .categories div {
                float: left;
                font-size: 16px;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                cursor: pointer;
            }


            /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

            .col-25, .col-75 {
                width: 45%;
                margin-top: 0;
                /*font-size: 24pt;*/
                color: black;
                text-align: left;

            }

            .button {
                background-color: blue;
                color: white;
                padding: 12px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                float: right;
                margin-top: 10px;
                margin-right: 10px;
            }

            .row {
                border-bottom: solid 2px;
            }

            .info {
                float: right;
                width: 60%;
            }

            .cancel {
                background-color: red;
            }

            select {
                width: 100%;
                margin-top: 10px;
            }

            #go {
                margin-top: 10px;
                margin-right: 10px;
            }

            label {
                /*font-size: xx-large;*/

            }

            .custom-select-wrapper {
                display: inline-block;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                margin-top: 25px;
            }

            textarea {
                /*font-size: 16pt;*/
            }
            #employee {
                width: 60%;
            }
            #surplus {
                padding: 6px 3px;
                width: 30%;
                text-align: center;
            }

            .fa {
                width: 60px;
                display: block;
                text-align: center;
                color: #990000;
                font: normal 25px 'FontAwesome';
                line-height: 60px;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
            }

            .fa-angle-double-down:before {
                content: ""
            }

            .bounce {
                /*position: absolute;*/
                bottom: 15px;
                left: 50%;
                width: 30px;
                height: 30px;
                margin-left: -50px;
                margin-top: -40px;
                animation: bounce 2s infinite;
                -webkit-animation: bounce 2s infinite;
                -moz-animation: bounce 2s infinite;
                -o-animation: bounce 2s infinite;
            }

            @-webkit-keyframes bounce {
                0%, 20%, 50%, 80%, 100% {
                    -webkit-transform: translateX(0);
                }
                40% {
                    -webkit-transform: translateX(-30px);
                }
                60% {
                    -webkit-transform: translateX(-15px);
                }
            }

            @-moz-keyframes bounce {
                0%, 20%, 50%, 80%, 100% {
                    -moz-transform: translateX(0);
                }
                40% {
                    -moz-transform: translateX(-30px);
                }
                60% {
                    -moz-transform: translateX(-15px);
                }
            }

            @-o-keyframes bounce {
                0%, 20%, 50%, 80%, 100% {
                    -o-transform: translateX(0);
                }
                40% {
                    -o-transform: translateX(-30px);
                }
                60% {
                    -o-transform: translateX(-15px);
                }
            }

            @keyframes bounce {
                0%, 20%, 50%, 80%, 100% {
                    transform: translateX(0);
                }
                40% {
                    transform: translateX(-30px);
                }
                60% {
                    transform: translateX(-15px);
                }
            }

    body
        .container
            .info
            form(action='#{location}/newPeripheral', method='post' id='form')
                .info
                    a#button.button.cancel(href='#{location}/card?employeeId=#{employee.EmployeeID}') Back
                    #go(onclick='go();') Submit
                    br
                h2 Peripheral
                h3 #{employee.FirstName} #{employee.LastName}
                div(class='categories')
                    #mainInfoButton(onclick='showMain();') Main Info
                    #otherInfoButton(onclick='showOther();') Other Info
                    #historyInfoButton(onclick='showHistory();') History

                br
                #mainInfo
                    .row
                        .col-25
                            label(for='icn') ICN:
                        .col-75
                            input#icn(type='text', name='icn', placeholder='ICN', value='#{ICN}')
                    .row
                        .col-25
                            label(for='employee') Employee:
                        .col-75
                            select#employee.selectpicker(name='employeeId', placeholder='Employee' onchange="alert(\"You just changed who this was assigned to. Please update the Type.\")")
                                each employee in employees
                                    if(employee.EmployeeID === EmployeeID)
                                        option(value=employee.EmployeeID name='#{employee.FirstName} #{employee.LastName}' selected) #{employee.FirstName} #{employee.LastName}
                                    else
                                        option(value=employee.EmployeeID name='#{employee.FirstName} #{employee.LastName}')  #{employee.FirstName} #{employee.LastName}
                            #surplus.button(onclick='surplus();') Surplus
                    .row
                        .col-25
                            label(for='make') Make:
                        .col-75
                            select#make.custom-select.sources(name='make', placeholder='Make' onchange='refreshModelOptions()')
                                each makeOption in makeOptions
                                    option(value=makeOption.Make) #{makeOption.Make}
                    .row
                        .col-25
                            label(for='model') Model:
                        .col-75
                            select#model.custom-select.sources(name='model', placeholder='Model' onchange='newModel();')
                                each modelOption in modelOptions
                                    option(value=modelOption.Model) #{modelOption.Model}
                    .row
                        .col-25
                            label(for='item') Item:
                        .col-75
                            select#item.custom-select.sources(name='item', placeholder='Item' onChange='newItem();')
                                each itemOption in itemOptions
                                    option(value=itemOption.Item) #{itemOption.Item}
                    .row
                        .col-25
                            label(for='notes') Notes:
                        .col-75
                            textarea#notes(name='notes', placeholder='Write something..', style='height:200px')
                #otherInfo(style='display: none;')
                    .row
                        .col-25
                            label(for='serialNumber') Serial Number:
                        .col-75
                            input#serialNumber(type='text', name='serialNumber', placeholder='Serial Number')
                    .row
                        .col-25
                            label(for='dateAcquired') Date Acquired:
                        .col-75
                            input#dateAcquired(type='date' name='dateAcquired', placeholder='Date Acquired')
                    .row
                        .col-25
                            label(for='warranty') Warranty:
                        .col-75
                            input#warranty(type='text', name='warranty', placeholder='Warranty')
                    .row
                        .col-25
                            label(for='homeCheckout') Home Checkout:
                        .col-75
                            input#homeCheckout(type='text', name='homeCheckout', placeholder='Home Checkout')
                #historyInfo(style='display: none;')
                    .row
                        .col-25
                            label(for='history') History:
                        .col-75
                            textarea#history(name='history' style='height:200px' readonly='readonly')
    script.
        let icn = "#{ICN}";
        let employee = "#{employee.FirstName} #{employee.LastName}";
        let date = new Date();
        function goBack() {
            $("#cardInfo").css('display', 'block');
            $("#computerInfo").css('display', 'none');
        }
        function showMain() {
            $("#mainInfo").css('display', 'block');
            $("#otherInfo").css('display', 'none');
            $("#hardwareInfo").css('display', 'none');
            $("#historyInfo").css('display', 'none');

        }
        function showOther() {
            $("#mainInfo").css('display', 'none');
            $("#otherInfo").css('display', 'block');
            $("#hardwareInfo").css('display', 'none');
            $("#historyInfo").css('display', 'none');

        }
        function showHardware() {
            $("#mainInfo").css('display', 'none');
            $("#otherInfo").css('display', 'none');
            $("#hardwareInfo").css('display', 'block');
            $("#historyInfo").css('display', 'none');

        }
        function showHistory() {
            $("#mainInfo").css('display', 'none');
            $("#otherInfo").css('display', 'none');
            $("#hardwareInfo").css('display', 'none');
            $("#historyInfo").css('display', 'block');
        }

        function surplus() {
            $("#employee").val('300');
            alert("You just changed who this was assigned to. Please update the Type.");
        }

        function newModel() {
            if ($("#model").val() === "Add a New Option") {
                let model = prompt("New Model:");
                if (model !== null && model !== "") {
                    console.log(model);
                    $("#model").append(new Option(model, model));
                    $("#model").val(model);
                }
            }
            else {
                $.ajax({
                    type: "GET",
                    url: "#{location}/getItemOptions?model=" + $("#model").val(),
                    data: {format: 'html'}
                }).done(function (data) {
                    $("#item").html(data);
                });
            }
        }

        function newItem() {
            if ($("#item").val() === "Add a New Option") {
                let item = prompt("New Item:");
                if (item !== null && item !== "") {
                    console.log(item);
                    $("#item").append(new Option(item, item));
                    $("#item").val(item);
                }
            }
        }

        function refreshModelOptions() {
            $.ajax({
                type: "GET",
                url: "#{location}/getPeripheralModelOptions?make=" + $("#make").val(),
                data: {format: 'html'}
            }).done(function (data) {
                $("#model").html(data);
            });
        }
        function changeEmployee(){
            console.log('changeEMployee');
            let history = $("#history").val();
            $("#history").val(history + date.toDateString() + ' Reassigned from ' + employee + ' to ' + $("#employee option:selected").attr('name') + ' by McKay Court \n');
        }
        function changeMake(){
            let history = $("#history").val();
            $("#history").val(history + date.toDateString() + ' Changed from ')
        }
        function go(){
            if(employee !== $("#employee option:selected").attr('name')){
                changeEmployee();
            }
            $("#form").submit();

        }