extends layout

block content
    link(rel='stylesheet', href='#{location}/stylesheets/table.css')
    include filters
    div= "Count: " + Object.keys(peripherals).length
    div(style='overflow-x:auto;')
        table#table
            tbody
                tr#myHeader
                    td
                        a(href='#{location}/peripheralTable?sortby=ICN')
                            div='ICN'
                    td
                        a(href='#{location}/peripheralTable?sortby=firstname')
                            div= "First Name"
                    td
                        a(href='#{location}/peripheralTable?sortby=lastName')
                            div= "Last Name"
                    td
                        a(href='#{location}/peripheralTable?sortby=Make')
                            div= "Make"
                    td
                        a(href='#{location}/peripheralTable?sortby=Model')
                            div= "Model"
                    td
                        a(href='#{location}/peripheralTable?sortby=Item')
                            div= "Item"
                    td= "Serial Number"
                    td= "Date Acquired"
                    td= "Warranty"
                    td= "Home Checkout"
                    td= "Notes"
                each peripheral in peripherals
                    tr
                        td
                            a(href='#{location}/peripheral?ICN=' + peripheral.ICN)
                                div= peripheral.ICN
                                //i(class="material-icons") laptop
                        td
                            a(href='#{location}/peripheralTable?where=EmployeeID=\'#{peripheral.EmployeeID}\'')
                                div= peripheral.FirstName
                        td
                            a(href='#{location}/peripheralTable?where=EmployeeID=\'#{peripheral.EmployeeID}\'')
                                div= peripheral.LastName
                        td
                            a(href='#{location}/peripheralTable?where=Make=\'#{peripheral.Make}\'')
                                div= peripheral.Make
                        td
                            a(href='#{location}/peripheralTable?where=Model=\'#{peripheral.Model}\'')
                                div= peripheral.Model
                        td
                            a(href='#{location}/peripheralTable?where=Item=\'#{peripheral.Item}\'')
                                div= peripheral.Item
                        td= peripheral.SerialNumber
                        td= peripheral.DateAcquired
                        td= peripheral.Warranty
                        td= peripheral.HomeCheckout
                        td= peripheral.Notes
