if(showOptions.FirstName)
    a.byu-button.navy(href=location + '/computerTable?showOption=FirstName') First Name
else
    a.byu-button.whitenavy(href=location + '/computerTable?showOption=FirstName') First Name


if(showOptions.LastName)
    a.byu-button.navy(href=location + '/computerTable?showOption=LastName') Last Name
else
    a.byu-button.whitenavy(href=location + '/computerTable?showOption=LastName') Last Name


if(showOptions.Make)
    a.byu-button.navy(href=location + '/computerTable?showOption=Make') Make
else
    a.byu-button.whitenavy(href=location + '/computerTable?showOption=Make') Make


if(showOptions.Model)
    a.byu-button.navy(href=location + '/computerTable?showOption=Model') Model
else
    a.byu-button.whitenavy(href=location + '/computerTable?showOption=Model') Model

if(showOptions.SerialNumber)
    a.byu-button.navy(href=location + '/computerTable?showOption=SerialNumber') Serial Number
else
    a.byu-button.whitenavy(href=location + '/computerTable?showOption=SerialNumber') Serial Number

if(showOptions.ServiceTag)
    a.byu-button.navy(href=location + '/computerTable?showOption=ServiceTag') Service Tag
else
    a.byu-button.whitenavy(href=location + '/computerTable?showOption=ServiceTag') Service Tag

if(showOptions.ExpressServiceCode)
    a.byu-button.navy(href=location + '/computerTable?showOption=ExpressServiceCode') Express Service Code
else
    a.byu-button.whitenavy(href=location + '/computerTable?showOption=ExpressServiceCode') Express Service Code

if(showOptions.Type)
    a.byu-button.navy(href=location + '/computerTable?showOption=Type') Type
else
    a.byu-button.whitenavy(href=location + '/computerTable?showOption=Type') Type

if(showOptions.DateAcquired)
    a.byu-button.navy(href=location + '/computerTable?showOption=DateAcquired') Date Acquired
else
    a.byu-button.whitenavy(href=location + '/computerTable?showOption=DateAcquired') Date Acquired

if(showOptions.Warranty)
    a.byu-button.navy(href=location + '/computerTable?showOption=Warranty') Warranty
else
    a.byu-button.whitenavy(href=location + '/computerTable?showOption=Warranty') Warranty

if(showOptions.HomeCheckout)
    a.byu-button.navy(href=location + '/computerTable?showOption=HomeCheckout') Home Checkout
else
    a.byu-button.whitenavy(href=location + '/computerTable?showOption=HomeCheckout') Home Checkout

if(showOptions.Rotation)
    a.byu-button.navy(href=location + '/computerTable?showOption=Rotation') Rotation
else
    a.byu-button.whitenavy(href=location + '/computerTable?showOption=Rotation') Rotation

if(showOptions.Notes)
    a.byu-button.navy(href=location + '/computerTable?showOption=Notes') Notes
else
    a.byu-button.whitenavy(href=location + '/computerTable?showOption=Notes') Notes
if(showOptions.History)
    a.byu-button.navy(href=location + '/computerTable?showOption=History') History
else
    a.byu-button.whitenavy(href=location + '/computerTable?showOption=History') History