extends layout
block content
    body
        each showOption, i in showOptions
            if(showOption)
                div.byu-button.navy= i
                    input(type='hidden' value=showOption)
            else
                div.byu-button.whitenavy(onclick='change(#{i});')= i
                    input(type='hidden' id=i value='#{showOption}')
    script.
        function change(id){
            console.log($("#" + id.id).val());
        }