extends layout
block content
    body
        #showOptions(style='padding-left: 25px;')
            form#form(action='#{location}/showOptions' method='post')
                each showOption, i in showOptions
                    if(showOption)
                        if(i === 'Max(PageCounts.PageCount)')
                            div.byu-button.navy(onclick='change("pageCount")' id='pageCountDiv') Page Count
                            input(type='hidden' id='pageCount' name=i value='#{showOption}')
                        else
                            div.byu-button.navy(onclick='change("#{i}")' id=i.replace(/\./g, '').replace('(', '').replace(')', '')+'Div')= i
                                input(type='hidden' id=i.replace(/\./g, '').replace('(', '').replace(')', '') name=i value='#{showOption}')
                        br
                    else
                        if(i === 'Max(PageCounts.PageCount)')
                            div.byu-button.whitenavy(onclick='change("pageCount")' id='pageCountDiv') Page Count
                            input(type='hidden' id='pageCount' name=i value='#{showOption}')
                        else
                            div.byu-button.whitenavy(onclick='change("#{i}")' id=i.replace(/\./g, '').replace('(', '').replace(')', '')+'Div')= i
                                input(type='hidden' id=i.replace(/\./g, '').replace('(', '').replace(')', '') name=i value='#{showOption}')
                        br
                input(type='hidden' name='table' value='#{table}')
                input(type='hidden' name='jsbStorage' value='#{jsbStorage}')
                div(style='max-width: 100px;')
                    button.byu-button.green(onclick='submit()')= 'Submit'

    script.
        function submit(){
            $("#form").submit();
        }
        function change(id){
            let trueId = id.replace(/\./g, '').replace('(', '').replace(')', '');
            if(id.id){
                trueId = id.id;
            }
            let showOptionDiv = $("#" + trueId + 'Div');
            let showOption = $("#" + trueId);
            if(showOption.val() === 'true'){
                showOption.val('false');
                console.log("in like the flin");
                showOptionDiv.addClass('whitenavy');
                showOptionDiv.removeClass('navy');
            }
            else{
                showOption.val('true');
                console.log('out');
                showOptionDiv.removeClass('whitenavy');
                showOptionDiv.addClass('navy');
            }
            console.log(showOption);
        }